[submodule "ElinaEngine/vendor/spdlog"]
	path = ElinaEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ElinaEngine/vendor/GLFW"]
	path = ElinaEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
